#map {
  height: fit-content;
  width: 922px;
  display: flex;
  z-index: 0;
}

.btn-circle {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
}

.btn-circle i {
  font-size: 24px;
}
