.search-input {
  border-radius: 20px;
  padding-right: 50px; /* Adjust based on your button width */
}

.input-group {
  position: relative;
}

.input-group .btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

#map {
  height: 80vh; /* Adjusted to fit the screen better */
  width: 100%;
  display: flex;
  z-index: 0;
}

.btn-circle {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
}

.btn-circle i {
  font-size: 24px;
}
