<app-navbar></app-navbar>
<div class="container-fluid h-100 w-100 p-0 m-0">
<!--  <div class="row mb-3">-->
<!--    <div class="col-md-8">-->
<!--      <div class="input-group">-->
<!--        <input type="text" class="form-control search-input" placeholder="Search by description" [(ngModel)]="filterCriteria.description" (input)="searchEvents()">-->
<!--        <button class="btn btn-primary" type="button" (click)="searchEvents()">-->
<!--          <i class="fa fa-search"></i>-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-md-4">-->
<!--      <input type="date" class="form-control" [(ngModel)]="filterCriteria.date" (input)="searchEvents()">-->
<!--    </div>-->
<!--  </div>-->

  <div id="map" style="height: 1024px;"></div>

  <!-- Circular Button -->
  <button
    type="button"
    class="btn btn-primary btn-circle"
    data-bs-toggle="modal"
    data-bs-target="#eventModal"
  >
    <i style="font-size: 2rem" class="fa fa-plus"></i>
  </button>
</div>

<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventModalLabel">Create New Event</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="createEvent()">
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" [(ngModel)]="newEvent.description" name="description" required>
          </div>
          <div class="mb-3">
            <label for="eventDate" class="form-label">Event Date</label>
            <input type="date" class="form-control" id="eventDate" [(ngModel)]="newEvent.event_date" name="event_date" required>
          </div>
          <button type="submit" class="btn btn-primary">Create Event</button>
        </form>
      </div>
    </div>
  </div>
</div>
