.input-custom {
  background-color: #F5F3F3;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

.btn-custom {
  background-color: #545BFF;
  color: white;
  border: none;
  margin-top: 2px;
  margin-left: 615px;
  margin-bottom: 5px;
  width: 125px; /* Adjust the width value as per your design */
}


.btn-custom:hover {
  background-color: #7274d2;
}

.btn-image {
  background-color: #7274d2;
  color: white;
  border: none;
}

.btn-image:hover {
  background-color: #3c44d3;
}

.text-center {
  text-align: center;
}
/* post-thread.component.css */

/* Style for tags */
.badge {
  font-size: 0.8rem; /* Adjust font size as needed */
  padding: 0.5rem 1rem; /* Adjust padding for spacing */
  border-radius: 8px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
  margin-right: 10px; /* Add right margin */
  margin-bottom: 10px; /* Add bottom margin */
}
/* Style for selected tag */
.bg-yellow {
  background-color: yellow !important; /* Yellow background color */
  color: #545BFF; /* Dark text color */
}


