<div class="container">
    <div class="card mb-3">
        <div class="input-group mb-3">
            <input [(ngModel)]="content" type="text" class="form-control input-custom" placeholder="What's new today?" style="width: 100%;" />
            <div class="input-group-append d-flex justify-content-center align-items-center ms-2">
                <!-- Display tags here -->
                <span *ngFor="let tag of tags" class="badge bg-secondary me-1">{{ tag.name }}</span>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-custom" (click)="postThread()">Post</button>
        </div>
    </div>
</div>
