.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  width: 100%;
}

.nav-icon {
  padding: 0.5rem;
  width: 5rem;
  height: 4rem;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
}

.nav-item {
  margin: 0.5rem;
}

.nav-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;
}

.nav-link.inactive {
  opacity: 0.5;
  color:#545BFF;
}

.nav-link.active {
  opacity: 1;
  color:#545BFF;

}

.navcont{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 2rem 0 2rem ;
  border-bottom: #545BFF 1px solid;
}

.logout-btn{
  background-color: rgb(255, 3, 3);
  color: white;
  padding-bottom: 10px;
}


.login-btn{
  background-color: rgb(53, 3, 255);
  color: white;
  padding-bottom: 10px;
}
